@media screen and (min-width: 768px) {
  .galleryItem {
    display: block;
    max-width: 354px;
    max-height: 275px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .galleryItem {
    max-width: 575px;
    max-height: 445px;
  }
}
