.section {
  padding: 116px 32px;
  background-color: var(--spare-bg);
  background-image: url(../../assets/img/mob1x/image_3_desk-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  padding: 28px 20px;
  background-color: var(--light-c);
}
