.btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  border: none;
  background-color: var(--modal-bg-c);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);

  &:active,
  &:hover {
    border: 2px solid transparent;
    background: linear-gradient(var(--light-c), var(--light-c)) padding-box,
      linear-gradient(
          45deg,
          var(--main-c),
          var(--secondary-text-c),
          var(--light-c),
          var(--main-c),
          var(--secondary-text-c),
          var(--light-c)
        )
        border-box;
  }

  .icon {
    pointer-events: none;
    fill: var(--main-c);
    transition: all 250ms ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    bottom: 16px;
    right: 16px;
  }
}
