.hero {
  color: var(--light-c);

  .title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
  }

  .descr {
    font-weight: 500;
    text-align: center;
    margin-bottom: 95px;
    color: inherit;
  }

  .btn {
    max-width: 285px;
  }

  @media screen and (max-width: 340px) {
    .title {
      font-size: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    .title {
      font-size: 68px;
    }

    .descr {
      font-size: 20px;
      padding: 0 128px;
      margin-bottom: 60px;
    }

    .btn {
      max-width: 394px;
      height: 56px;
      font-size: 20px;
    }
  }
}
