.aboutUsSection {
  p {
    color: var(--secondary-text-c);
  }

  .firstParagraph {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .aboutUsSection {
    .firstParagraph,
    .secondParagraph {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .aboutUsSection {
    .firstParagraph {
      margin-bottom: 12px;
    }

    .firstParagraph,
    .secondParagraph {
      font-size: 24px;
    }
  }
}
