.heroWrapper,
.container,
.footerWrapper {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

.container {
  padding: 30px;
}

.heroWrapper {
  position: relative;
  padding: 188px 30px 193px;
  background-color: var(--spare-bg);
  background-image: url(../../assets/img/mob1x/hero_desk_1920-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) {
  .heroWrapper {
    background-image: url(../../assets/img/mob2x/hero_desk_1920_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container,
  .heroWrapper,
  .footerWrapper {
    max-width: 768px;
  }

  .container {
    padding: 0 20px;
  }

  .heroWrapper {
    padding: 180px 20px 185px;
    margin-bottom: 80px;
    background-image: url(../../assets/img/tab1x/hero_tab.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .heroWrapper {
      background-image: url(../../assets/img/tab2x/hero_tab_2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .container,
  .heroWrapper,
  .footerWrapper {
    max-width: 1440px;
  }

  .container {
    padding: 0 135px;
  }

  .heroWrapper {
    padding: 258px 135px 266px;
    background-image: url(../../assets/img/desk1x/hero_desk_1920-1_desk.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .heroWrapper {
      background-image: url(../../assets/img/desk2x/hero_desk_1920-1_desk_2x.jpg);
    }
  }
}

@media screen and (min-width: 1920px) {
  .heroWrapper,
  .footerWrapper {
    max-width: 1920px;
  }

  .heroWrapper {
    background-image: url(../../assets/img/desk1x/hero_desk_1920_desk.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .heroWrapper {
      background-image: url(../../assets/img/desk2x/hero_desk_1920_desk_2x.jpg);
    }
  }
}
