.socialLinks {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: max-content;
  height: max-content;

  .socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: scale 250ms ease-in-out;

    &:hover,
    &:focus {
      scale: 1.25;
    }
  }

  .socialLinkIcon {
    fill: var(--light-c);
  }
}

.vertical {
  flex-direction: column;
  margin-bottom: 0;
}

@media screen and (max-height: 696px) {
  .socialLinks {
    gap: 22px;
  }
  .vertical {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .vertical {
    flex-direction: row;
  }
}
