.section {
  margin-bottom: 52px;

  .title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 28px;
  }

  .list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 80px;

    .title {
      font-size: 52px;
      margin-bottom: 40px;
    }

    .list {
      width: max-content;
      margin: 0 auto;
      flex-direction: row;
    }
  }
}
