.hiden {
  display: none;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: var(--modal-bg-c);
  overflow: hidden;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 350ms ease-in-out;

  .modal {
    position: absolute;
    width: 100%;
    height: max-content;
    background-color: white;
  }
}

.showModal {
  opacity: 1;
  scale: 1;
}
.hideModal {
  opacity: 0;
  scale: 0;
  pointer-events: none;
}
