.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  padding: 52px 32px 36px;
  color: var(--primary-text-c);

  .title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  .description {
    color: var(--secondary-text-c);
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
    margin-bottom: 24px;
  }

  form {
    .inputErrorWrap {
      position: relative;
      padding-bottom: 20px;

      .error {
        width: 100%;
        font-size: 14px;
        color: var(--error-c);
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .input {
        width: 100%;
        height: 28px;
        color: var(--primary-text-c);
        border: none;
        border-bottom: 1px solid var(--border-c);
        outline: none;
        background-color: inherit;

        &::placeholder {
          color: var(--border-c);
        }

        &:focus {
          border-color: var(--main-c);
        }

        &:not(:focus) {
          color: var(--main-c);
          background-color: inherit;
        }
      }
    }

    .checkboxWrapper {
      .label {
        position: relative;
        padding-left: 36px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 28px;
      }

      .customCheckbox {
        width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primary-text-c);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        .checkboxIcon {
          fill: transparent;
          stroke: var(--primary-text-c);
          pointer-events: none;
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }
      }

      .checkbox:checked + .customCheckbox > .checkboxIcon {
        opacity: 1;
      }
    }
  }
}
