.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  background-color: var(--light-c);
  padding: 52px 32px 36px;
  color: var(--primary-text-c);

  .title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  .description {
    color: var(--secondary-text-c);
    text-align: center;
    font-size: 14px;
    max-width: 282px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  form {
    .inputErrorWrap {
      position: relative;
      padding-bottom: 20px;

      .error {
        width: 100%;
        font-size: 14px;
        color: var(--error-c);
        position: absolute;
        left: 0;
        bottom: 0;
      }

      .input {
        width: 100%;
        color: var(--primary-text-c);
        border: none;
        border-bottom: 1px solid var(--border-c);
        padding: 0 4px 8px;
        outline: none;
        background-color: inherit;

        &::placeholder {
          color: var(--border-c);
        }

        &:focus {
          border-color: var(--main-c);
        }

        &:not(:focus) {
          color: var(--main-c);
          background-color: inherit;
        }
      }
    }

    .checkboxWrapper {
      margin-bottom: 24px;

      .label {
        position: relative;
        padding-left: 36px;
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 28px;
        }
      }

      .customCheckbox {
        width: 24px;
        height: 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--primary-text-c);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        .checkboxIcon {
          fill: transparent;
          stroke: var(--primary-text-c);
          pointer-events: none;
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }
      }

      .checkbox:checked + .customCheckbox > .checkboxIcon {
        opacity: 1;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 60px 42px;

    .title {
      font-size: 32px;
      margin-bottom: 24px;
    }

    .description {
      font-size: 18px;
      margin-bottom: 32px;
      max-width: 374px;
    }

    form {
      .inputErrorWrap {
        padding-bottom: 32px;

        .error {
          font-size: 20px;
          bottom: 4px;
        }

        .input {
          font-size: 20px;

          &::placeholder {
            font-size: 20px;
          }
        }
      }

      .checkboxWrapper {
        margin-bottom: 32px;

        .label {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 116px 100px 60px;

    .title {
      font-size: 60px;
      margin-bottom: 28px;
    }

    .description {
      font-size: 24px;
      max-width: 524px;
    }

    form {
      .inputErrorWrap {
        .input,
        .error {
          font-size: 24px;
        }

        .input {
          padding: 0 8px 8px;
          &::placeholder {
            font-size: 24px;
          }
        }
      }

      .checkboxWrapper {
        margin-bottom: 44px;

        .label {
          font-size: 24px;

          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
