.logo {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  fill: var(--light-c);
  transition: scale 250ms ease-in-out;

  &:hover {
    scale: 1.2;
  }

  .logoIcon {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 60px;
    height: 60px;

    left: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    left: 0;
  }
}
