@keyframes shift {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

@keyframes shiftBack {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  background-color: transparent;
  overflow: hidden;

  .modal {
    padding: 132px 32px 32px 32px;
    position: absolute;
    width: 232px;
    top: 0;
    bottom: 0;
    background-color: var(--modal-bg-c);
  }

  .modalIsOpen {
    animation: shift 300ms ease-in-out;
  }
  .modalIsClosed {
    animation: shiftBack 500ms ease-in-out;
  }

  .btn {
    right: 32px;
    top: 20px;
  }

  @media screen and (max-height: 666.98px) {
    .modal {
      padding-top: 86px;
    }
  }

  @media screen and (min-width: 768px) {
    .modal {
      width: 374px;
      padding: 184px 82px 82px;
    }

    .btn {
      top: 34px;
      right: 20px;
    }
  }
}
