.navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 64px;

  .navItem {
    color: var(--light-c);
    font-size: 28px;
    text-decoration: none;
  }
}

@media screen and (max-height: 696px) {
  .navigation {
    gap: 24px;
  }
}
