.tourDetailsWrapper {
  background-color: var(--light-c);
  height: 100vh;

  .listItem {
    position: relative;

    .picture {
      display: block;
      height: 76vh;

      .image {
        height: 100%;
        object-fit: cover;
      }
    }

    .activities {
      color: var(--light-c);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 56px 48px 0 0;

      .tourTitle {
        padding-left: 48px;
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 600;
      }

      .tourDay {
        padding: 14px 48px;
        max-width: 278px;
        background-color: var(--main-c);
        border-radius: 0 8px 8px 0;
        margin-bottom: 12px;
        font-weight: 500;
      }

      .activitiesList {
        padding-left: 48px;

        .activitiesItem {
          font-weight: 500;

          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  .priceWrapper {
    background-color: var(--light-c);
    height: 23vh;
    padding: 28px 16px;

    .tourPrice {
      margin: 0 auto 16px auto;
      width: max-content;
      font-weight: 600;

      .currency {
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tourDetailsWrapper {
    .listItem {
      .picture {
        height: 79vh;
      }

      .activities {
        padding-top: 60px;

        .tourTitle {
          padding-left: 60px;
          margin-bottom: 16px;
          font-size: 24px;
        }

        .tourDay {
          padding: 14px 60px;
          max-width: 364px;
          margin-bottom: 16px;
          font-size: 20px;
        }

        .activitiesList {
          padding-left: 60px;
          font-size: 20px;

          .activitiesItem {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .priceWrapper {
      height: 20vh;
      padding: 40px 166px;

      .tourPrice {
        margin-bottom: 24px;
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .tourDetailsWrapper {
    .listItem {
      .picture {
        height: 75vh;
      }

      .activities {
        padding-top: 108px;

        .tourTitle {
          padding-left: 100px;
          font-size: 40px;
        }

        .tourDay {
          padding: 8px 100px;
          max-width: 478px;
          margin-bottom: 16px;
          font-size: 28px;
        }

        .activitiesList {
          padding-left: 100px;
          font-size: 28px;
        }
      }
    }

    .priceWrapper {
      height: 24vh;
      padding: 40px 298px;
      .tourPrice {
        margin-bottom: 28px;
        font-size: 24px;
      }
    }
  }
}
