.modal {
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 316px;
  overflow: auto;
  background-color: var(--light-c);
  align-content: center;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--modal-bg-c);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-c);
    border-radius: 8px;
  }
}

@media screen and (max-width: 375px) {
  .modal {
    max-width: 100%;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 728px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    max-width: 1170px;
  }
}
