.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 315px;
  overflow: auto;
}

@media screen and (max-width: 375px) {
  .modal {
    max-width: 100%;
    left: 0;
    right: 0;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 728px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    max-width: 1170px;
  }
}
