.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  stroke: var(--light-c);
}
