.header {
  width: 100%;
  max-width: 375px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  .button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: scale 250ms ease-in-out;

    &:hover {
      scale: 1.25;
    }

    .icon {
      stroke: var(--light-c);
    }
  }
}
