.header {
  width: 100%;
  max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  stroke: var(--light-c);
}
