.btnGroup {
  position: relative;

  .btn {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 2px solid transparent;
      background: linear-gradient(var(--light-c), var(--light-c)) padding-box,
        linear-gradient(
            45deg,
            var(--main-c),
            var(--secondary-text-c),
            var(--light-c),
            var(--main-c),
            var(--secondary-text-c),
            var(--light-c)
          )
          border-box;
    }

    .icon {
      pointer-events: none;
      fill: var(--main-c);
      transition: scale 250ms ease-in-out;
    }

    &:hover,
    &:active > .icon {
      scale: 1.1;
    }
  }

  .prevBtn {
    left: 25%;
  }

  .nextBtn {
    right: 25%;
  }

  @media screen and (min-width: 768px) {
    .prevBtn {
      left: 40%;
    }

    .nextBtn {
      right: 40%;
    }
  }

  .hidden {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}
