* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat";
  font-style: normal;
  line-height: 1.22;
  color: var(--primary-text-c);
}

.preventScrolling {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}
