* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "montserrat";
  font-style: normal;
  color: var(--primary-text-c);
}

img {
  display: block;
  max-width: 100%;
}
