* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color-scheme: light dark;
  font-family: "montserrat";
  font-style: normal;
  line-height: 1.21;
  color: var(--primary-text-c);
  background-color: light-dark(#fff, #000);
  color: light-dark(#000, #fff);
}

img {
  display: block;
  width: 100%;
}
