:root {
  --main-c: rgb(91, 134, 161);
  --primary-text-c: rgb(27, 29, 27);
  --secondary-text-c: rgb(32, 35, 33);
  --light-c: rgb(247, 251, 251);
  --spare-bg: rgb(206, 190, 190);
  --border-c: rgb(1, 23, 1);
  --error-c: rgb(150, 53, 53);
  --modal-bg-c: rgba(32, 35, 33, 0.7);
}
