.wrapper {
  padding: 20px 30px 193px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background-color: var(--spare-bg);
  background-image: url(../../assets/img/mob1x/hero_desk_1920-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
