.itemWrapper {
  border: 1px solid var(--main-c);
  margin: 0 auto;

  .img {
    object-fit: cover;
  }

  .descrWrapper {
    padding: 28px 20px;

    .subTitle {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .descr {
      margin-bottom: 20px;
      font-weight: 600;
    }

    .btn {
      width: 100%;
      height: 53px;
      font-weight: 500;
      color: var(--light-c);
      background-color: var(--main-c);
      border: none;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-text-c);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .itemWrapper {
    max-width: 354px;

    .descrWrapper {
      .subTitle {
        font-size: 24px;
      }

      .descr {
        font-size: 20px;
      }

      .btn {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .itemWrapper {
    max-width: 377px;

    .descrWrapper {
      .subTitle {
        font-size: 28px;
      }

      .descr {
        font-size: 24px;
      }

      .btn {
        font-size: 24px;
        height: 68px;
      }
    }
  }
}
