.OurAdvantagesSection {
  margin-bottom: 52px;

  .title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 28px;
  }

  .list {
    padding: 87px 0;
    background-color: var(--spare-bg);
    background-image: url(../../assets/img/mob1x/Advantages-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi) {
    .list {
      background-image: url(../../assets/img/mob2x/Advantages_2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .OurAdvantagesSection {
    margin-bottom: 80px;

    .title {
      font-size: 52px;
      margin-bottom: 40px;
    }

    .list {
      background-image: url(../../assets/img/tab1x/Advantages_2_tab.jpg),
        url(../../assets/img/tab1x/Advantages_3_tab.jpg);
      background-position: top left, bottom right;
      background-size: 354px, 354px;
      background-color: var(--light-c);
    }

    @media screen and (min-resolution: 192dpi) {
      .list {
        background-image: url(../../assets/img/tab2x/Advantages_2_tab_2x.jpg),
          url(../../assets/img/tab2x/Advantages_3_tab_2x.jpg);
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .OurAdvantagesSection {
    margin-bottom: 80px;

    .title {
      font-size: 68px;
      margin-bottom: 60px;
    }

    .list {
      padding: 80px 0;
      background-image: url(../../assets/img/desk1x/Advantages_2_desk.jpg),
        url(../../assets/img/desk1x/Advantages_4_desk.jpg),
        url(../../assets/img/desk1x/Advantages_3_desk.jpg);
      background-position: top left, center center, bottom right;
      background-size: 377px 584px, 377px 502px, 377px 584px;
    }

    @media screen and (min-resolution: 192dpi) {
      .list {
        background-image: url(../../assets/img/desk2x/Advantages_2_desk_2x.jpg),
          url(../../assets/img/desk2x/Advantages_4_desk_2x.jpg),
          url(../../assets/img/desk2x/Advantages_3_desk_2x.jpg);
      }
    }
  }
}
