.OurAdvantagesSection {
  margin-bottom: 52px;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 28px;
}

.list {
  padding: 87px 0;
  background-color: var(--spare-bg);
  background-image: url(../../assets/img/mob1x/Advantages-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
